/* reset */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, form, input, p, th, td { margin:0; padding:0;}
body { font-size:12px;}
a:link, a:visited { color:#000; text-decoration:none;}
a:hover, a:active { color:#000; text-decoration:none;}
a.text:link, a.text:visited { color:#416AA3; text-decoration:none;}
a.text:hover, a.text:active { color:#416AA3; text-decoration:underline;}
img { cursor:pointer;}
textarea { font-size:12px;}
.fl { float:left;}
.fr { float:right;}
.tl { text-align:left;}
.tc { text-align:center;}
.tr { text-align:right;}
.vtp { vertical-align:top;}
.vtm { vertical-align:middle;}
.vtb { vertical-align:bottom;}
.col1 { color:#E64141;}
.bgc1 { background:#EEEEFF;}
.none{ display:none;}

/* add */
#side .accordion-header-selected { background:#E0ECFF;}
.toolbar-span { line-height:28px; margin-left:5px;}
table.m0 { margin-top:8px;}
table.m0 td { padding:2px 0;}
table.m1 { border-collapse:collapse; border: 1px solid #95B8E7; font-size: 12px;}
table.m1 tr.tr1 { height:5px;}
table.m1 tr.tr2 { background:#FAFAFA url("m_images/datagrid_header_bg.gif") repeat-x; border-bottom:1px solid #CCCCCC;}
table.m1 th { background:url("m_images/panel_title.png") repeat-x; border:1px solid #99BBE8; border:1px solid #95B8E7; color:#15428B; padding:0 4px; height:25px; text-align:left;}
table.m1 td { padding:2px 4px; line-height:18px; border-bottom:1px dotted #CCCCCC; border-right:1px dotted #CCCCCC;}
table.m1 td.td1 { width:180px;}
table.m1 td.td2 { width:120px;}
.ipt1 { width:123px; height:18px; line-height:18px;}
.gap { height:10px;}
.imgt { vertical-align:top;}
.img1 { vertical-align:top; width:34px; height:16px;}
.img2 { width:100px; height:100px; border:1px solid #A4BED4;}
.input_wd1 { width:40px;}
.input_wd2 { width:85px;}
.input_wd3 { width:60px;}
.textarea1 { width:422px; height:113px; margin:4px; overflow:auto; resize:none}
.textarea2 { width:242px; height:113px; margin:4px; overflow:auto; resize:none}
.toolbar-s-input { float:right; padding:2px 6px;}
.wd_body { width:800px; overflow-y:scroll; overflow-x:hidden;}
.wd2_body { width:1000px; overflow-y:scroll; overflow-x:hidden;}
.m-title { height:20px; padding:5px; background:#e4edfe; line-height:20px; font-size:13px; font-weight:bold; color:#15428B; border-bottom:2px solid #95B8E7;}
#idContainer{ background:#FFF center no-repeat;}
#idContainer img { cursor:move;}
/* reset esayui */
.pagination-info { padding-right: 20px;}
.datagrid-toolbar { overflow:hidden; _zoom:1;}