@import url(common.css);
.content { border:1px solid #DCDCDC; overflow:hidden; width:998px; background:#fff;}
.login_bg1 { background:#fff url(../images/login_bg1.jpg) no-repeat 50px 35px;}
.login_box1 { float:right; width:280px; height:345px; margin:36px; _margin-right:18px; padding:45px 45px 0; background:#e3f0ff;}
.login_box1 h3 { font-size:16px; line-height:1em; color:#115098;}
.login_box1 a, .login_box1 a:visited { color:#115098; text-decoration:underline;}
.login_box1 a:hover { color:#115098; text-decoration:none;}
.login_box1 table { margin-top:30px; width:100%;}
.login_box1 table tr { height:38px;}
.login_box1 table tr.tr1 { height:45px;}
.login_box1 label { font-size:14px;}
.login_box1 input { height:18px; width:165px; line-height:18px;}
.login_box1 input.verify { width:90px;}
.login_box1 input.login_btn { display:inline-block; width:71px; height:30px; margin-right:5px; border:0; line-height:30px; text-align:center; color:#fff; font-weight:bold; text-decoration:none; background: url(../images/icon.png) no-repeat;}
a.qq_login, a.sina_login { float:left; display:block; width:119px; height:25px; margin-left:16px; text-indent:-9999px; background: url(../images/qq_sina.jpg) no-repeat; overflow:hidden;}
a.sina_login { background-position:0 -25px;}
a.qq_login { _margin-left:8px;}
.login_bg2 { background:#fff url(../images/login_bg.jpg) no-repeat 50px 35px;}
.login_box2 { float:right; width:400px; height:440px; margin:20px; _margin-right:10px; padding:20px; line-height:19px; *line-height:18px; background:#e3f0ff; overflow:hidden;}
.login_box2 h3 { font-size:16px; line-height:1em; color:#115098; text-indent:2.4em;}
.login_box2 a, .login_box2 a:visited { color:#115098; text-decoration:underline;}
.login_box2 a:hover { color:#115098; text-decoration:none;}
.login_box2 table { margin-top:30px; width:100%;}
.login_box2 table tr.tr1 { height:37px;}
.login_box2 table td.td1 { width:110px; text-align:right;}
.login_box2 p { margin:5px 0;}
.login_box2 label { font-size:14px;}
.login_box2 input { height:18px; width:200px; line-height:18px;}
.login_box2 input.input1 { height:14px; width:200px; line-height:14px;}
.login_box2 input.checkbox { height:15px; width:15px;}
.login_box2 input.login_btn { display:block; width:71px; height:30px; margin-right:5px; border:0; line-height:30px; text-align:center; color:#fff; font-weight:bold; text-decoration:none; background: url(../images/icon.png) no-repeat;}
.login_bg3 { background:#fff url(../images/login_bg.jpg) no-repeat 50px 35px;}
.login_box3 { float:right; width:420px; height:380px; margin:18px; _margin-right:9px; padding:25px; line-height:19px; *line-height:18px; background:#e3f0ff; overflow:hidden;}
.login_box3 h3 { font-size:16px; line-height:1em; color:#115098; text-indent:1.2em;}
.login_box3 a, .login_box3 a:visited { color:#115098; text-decoration:none;}
.login_box3 a:hover { color:#115098; text-decoration:none;}
.login_box3 table { margin-top:30px; width:100%;}
.login_box3 table tr.tr1 { height:60px;}
.login_box3 table td.td1 { width:90px; text-align:right;}
.login_box3 p { margin:5px 0;}
.login_box3 label { font-size:14px;}
.login_box3 input { display:inline; height:18px; width:200px; line-height:18px;}
.login_box3 input.btn4 { width:100px; height:30px; line-height:30px;}
input.yzm { background:#e3eefb; border:1px solid #b0b0b0; color:#115098; margin-top:1px; margin-right:20px; width:130px; height:20px; line-height:20px;  float:right; cursor:pointer;}
.prompt8 { width:830px; height:30px; margin:25px auto; padding:20px 0; line-height:30px; background:#fdf4e6; border:1px solid #e6e6e6; font-size:18px; font-weight:bold; color:#115098; text-align:center;}
.login_bg4 ul li { width:770px; margin:50px auto; padding-left:60px; background: url(../images/li_bg1.jpg) no-repeat;}
.login_bg4 ul li.li2 { background-position:0 -60px;}
.login_bg4 ul li.li3 { background-position:0 -120px;}
.login_bg4 ul li .btn4 { float:right; margin-top:5px;}
.lead_box { padding:28px 28px 0; overflow:hidden;}
.lead_l, .lead_r { float:left; width:454px; height:114px; margin-bottom:28px; padding:310px 0 0 0; background: url(../images/lede_bg1.jpg) no-repeat;}
.lead_l p, .lead_r p { height:84px; margin:0 auto; padding:0 40px; font-size:14px; font-weight:bold; color:#585858;}
.lead_r { float:right; background: url(../images/lede_bg2.jpg) no-repeat;}
.lost_psd { width:968px; margin: 0 auto; padding:10px 15px; border:1px solid #DCDCDC; background:#fff;}
.lost_psd table { margin:100px auto; width:400px;}
.lost_psd table input { height:18px; width:200px; line-height:18px;}